.tab-content {
  width: 100%;
  padding: 15px 5%;
  box-sizing: border-box;
}

.normal-container {
  display: flex;
  /* width: 90%; */
  /* padding: 20px 10px; */
  padding: 20px 0;
  flex-wrap: wrap;
  /* margin: 0 auto; */
  justify-content: space-evenly;
  row-gap: 60px;
}