
.tabla-cuotas {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.tabla-cuotas th {
  background-color: #f6f8fa;
  color: #333;
  padding: 8px;
  border: 1px solid #ddd;
}

.tabla-cuotas td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: center;
}

.dot-red {
  position: relative;
}

.dot-red::before {
  content: " ";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  margin-right: 5px;
}
