.tab-dependencia {
  width: 100%;
}

.section-separator {
  margin: 50px 0;
  border: 1px solid #dcdcdc;
}

.tab-dependencia-grupo {
  width: 90%;
  margin: 30px auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.tab-dependencia-table-container {
  width: 80%;
  justify-self: end;
}

.legend-table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #dcdcdc;
}

.legend-table th,
.legend-table td {
  border: 1px solid #dcdcdc;
  padding: 2px 1px;
  font-size: 13px;
}

.legend-table__head th {
  background-color: #f9f9f9;
  font-weight: 400;
  text-align: center;
}

.legend-table__body td {
  text-align: center;
}

.legend-table__body tr td:first-child {
  text-align: right;
  font-weight: 300;
  padding-right: 5px;
  font-size: 11px;
}

.centered-cell {
  text-align: center;
}

@media (max-width: 1150px) {
  .tab-dependencia-grupo {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
  .tab-dependencia-table-container {
    width: 80%;
    margin: auto;
  }
}
