.tab-dependencia {
  width: 100%;
}

.tab-dependencia-grupo {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  gap: 30px;
}

.tab-dependencia-table-container {
  width: 50%;
}

.legend-table {
  border-collapse: separate;
  width: 100%;
  border: 1px solid #dcdcdc;
}

.legend-table th,
.legend-table td {
  border: 1px solid #dcdcdc;
  padding: 2px 3px;
  font-size: 14px;
}

.legend-table__head th {
  background-color: #f9f9f9;
  font-weight: 600;
  text-align: center;
}

.legend-table__body td {
  text-align: center;
}

.legend-table__body tr td:first-child {
  text-align: right;
  font-weight: 500;
  padding-right: 5px;
}
