.tab-dependencia {
  width: 100%;
}

.section-separator {
  margin: 50px 0;
  border: 1px solid #dcdcdc;
}

.tab-dependencia-grupo {
  width: 90%;
  margin: 30px auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.tab-dependencia-table-container {
  width: 80%;
  justify-self: end;
}

@media (max-width: 1150px) {
  .tab-dependencia-grupo {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  .tab-dependencia-table-container {
    width: 80%;
    margin: auto;
  }
}