.dual-bar-chart-container {
  display: flex;
}

.avance-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 6px;
  vertical-align: middle;
}

.combined-table-container {
  display: flex;
  width: 100%;
}

.combined-table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #dcdcdc;
}

.combined-table th {
  border: 1px solid #dcdcdc;
  padding: 5px 4px;
  font-size: 12px;
}

.combined-table td {
  border: 1px solid #dcdcdc;
  padding: 2px 1px;
  font-size: 13px;
  text-align: center;
}

.combined-table__head th {
  background-color: #f9f9f9;
  font-weight: 400;
  text-align: center;
}

.combined-table__body td {
  text-align: center;
}

.combined-table__body tr td:first-child {
  text-align: right;
  font-weight: 300;
  padding-right: 5px;
  font-size: 11px;
}

.to-right-cell {
  text-align: right !important;
}

.to-left-cell {
  text-align: left;
}
