:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --blue-100: #0f69b5;
  --blue-80: #0f6ab5cb;
  --blue-10: #0f6ab521;
  --red-100: #eb3b45;
  --light-text: #5e5e5e;
  --disabled: #dadada;
  box-sizing: border-box;
}

html {
  width: 100dvw;
}

body {
  margin: 0;
  max-width: 100dvw;
  width: 100%;
  overflow-x: hidden;
  min-height: 100dvh;
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100%;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
